.vs/
build/
*.obj
*.exe
*.dll
*.exp
*.lib
*.pdb
*.ilk
*.log
*.sln
*.suo
*.user
*.vcxproj
*.vcxproj.filters
*.VC.db
*.VC.VC.opendb

libs/*/.source/
libs/*/build/
libs/*/build*/

ofxGgml*Example/bin/
ofxGgml*Example/obj/
ofxGgml*Example/.vs/
ofxGgml*Example/*.sln
ofxGgml*Example/*.vcxproj
ofxGgml*Example/*.vcxproj.filters
ofxGgml*Example/*.vcxproj.user
ofxGgml*Example/config.make
ofxGgml*Example/icon.rc
example-*/bin/
example-*/obj/
example-*/.vs/
example-*/*.sln
example-*/*.vcxproj
example-*/*.vcxproj.filters
example-*/*.vcxproj.user
example-*/config.make
example-*/icon.rc

models/
data/models/
